altgraph==0.17
amqp==5.0.2
appdirs==1.4.4
asgiref==3.3.1
auto-py-to-exe==2.7.11
billiard==3.6.3.0
bottle==0.12.19
bottle-websocket==0.2.9
celery==5.0.5
certifi==2018.1.18
chardet==3.0.4
colorama==0.4.4
conda==4.3.16
configparser==5.0.1
distlib==0.3.1
Django==3.1.4
django-background-task==0.1.8
django-celery-beat==2.1.0
django-celery-results==2.0.0
django-extensions==3.1.0
django-scheduler==0.9.3
django-timezone-field==4.1.1
docopt==0.6.2
Eel==0.12.4
feedparser==5.2.1
filelock==3.0.12
future==0.18.2
gevent==20.12.1
gevent-websocket==0.10.1
greenlet==1.0a1
icalendar==4.0.7
idna==2.6
kombu==5.0.2
pipenv==2020.8.13
ply==3.11
pycosat==0.6.3
Pygments==2.7.3
pyinstaller==4.1
pyinstaller-hooks-contrib==2020.11
PyMySQL==0.10.1
python-crontab==2.5.1
python-dateutil==2.8.1
pytz==2020.5
redis==3.5.3
requests==2.18.4
ruamel.yaml==0.16.12
ruamel.yaml.clib==0.2.2
schedule==0.6.0
Shapely==1.7.1
six==1.15.0
sqlparse==0.4.1
uritemplate==3.0.1
uritemplate.py==3.0.2
urllib3==1.22
vine==5.0.0
virtualenv==20.0.31
virtualenv-clone==0.5.4
wcwidth==0.2.5
whichcraft==0.6.1
zope.event==4.5.0
zope.interface==5.2.0
pip~=20.3.3
setuptools~=51.1.1
matplotlib~=3.3.3
pandas~=1.2.0